* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
body {
    background: #ddd;
}

.siteNav {
  height: 56px;
  padding: 13px;
  display: flex;
  width: 100vw;
  align-items: center;
  background: #fff;
}

.siteNav__logoLink {
    display: flex;

}

.siteNav .fas {
    padding: 8px;
    margin-right: 16px;
}

.siteNav .siteNav__searchInput {            /* specifity - inaczejnie adziała flexShrink na siteNav */
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid #ddd;
    padding: 0 5px;
    min-width: 80px;
    padding-right: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.siteNav__searchTrigger {
    border: 1px solid #ddd;
    border-left: none;
    display: flex;
    justify-content: center;
    width: 60px;
    background: #f4f4f4;
    flex-shrink: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.siteNav__searchTrigger .fas {
    padding: 0;
    margin: 0;
    align-self: center;
}

.siteNav .fas,
.siteNav-searchInput {
  font-size: 18px;
}

.siteNav > * {          /* każdy bezpośredni element siteNav nie będzie się kurczył */
    flex-shrink: 0;
}

.siteNav__userActions {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  align-items: center;
  width: 250px;
  justify-content: space-between;
}

.siteNav__userActions .fas {
  margin-right: 0;
}

.isUserAvatar::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: rosybrown;
    border-radius: 50%;
  }

.siteNav__searchWrapper {
  margin: 0 50px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 100px;
  height: 30px;
}

.siteNav__searchBack {
    display: none;
    align-self: center;
}

.isMobileSearchTrigger {
    display: none;
}
@media (max-width: 656px) {
    .siteNav__searchBack,
    .isMobileSearchTrigger {
        display: block;

    }
    .siteNav__searchWrapper {
        display: none;
    }
}